.rootDiv {
    background-image: url('/hero.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.nestedDiv {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 200px;
}

.nestedDiv h1 {
    font-size: 3rem;
    font-weight: 100;
    color: white;
    text-transform: uppercase;
}

.nestedDiv p {
    font-size: 18px;
    color: white;
}

.nestedDiv button {
    background-color: white;
    color: black;
    padding: 10px;
    margin-top: 4px;
    text-transform: uppercase;
    width: max-content;
}


.footer-basic {
  padding:40px 0;
  background-color:#ffffff;
  color:#4b4c4d;
}

.footer-basic ul {
  padding:0;
  list-style:none;
  text-align:center;
  font-size:18px;
  line-height:1.6;
  margin-bottom:0;
}

.footer-basic li {
  padding:0 10px;
}

.footer-basic ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.8;
}

.footer-basic ul a:hover {
  opacity:1;
}

.footer-basic .social {
  text-align:center;
  padding-bottom:25px;
}

.footer-basic .social > a {
  font-size:24px;
  width:40px;
  height:40px;
  line-height:40px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  border:1px solid #ccc;
  margin:0 8px;
  color:inherit;
  opacity:0.75;
}

.footer-basic .social > a:hover {
  opacity:0.9;
}

.footer-basic .copyright {
  margin-top:15px;
  text-align:center;
  font-size:13px;
  color:#aaa;
  margin-bottom:0;
}

.site-header {
    border-bottom: 1px solid #ccc;
    padding: 0.5em 1em;
    display: flex;
    justify-content: space-between;
}
.site-identity h1 {
    font-size: 1.5em;
    margin: 0.6em 0;
    display: inline-block;
}
.site-navigation ul,
.site-navigation li {
    margin: 0;
    padding: 0;
}
.site-navigation li {
    display: inline-block;
    margin: 1.4em 1em 1em 1em;
}

._newsLetterbutton {
    background-color: black;
    color: white;
    padding: 10px;
    margin-top: 4px;
    text-transform: uppercase;
    width: 100%;
}

.newsLetter_inner{
width:700px ;
margin: auto;
padding: 20px;


}

.newsLetter_container{
background-image: url('/small-banner.jpg');
background-size: cover;
background-position: center;
height: 350px;
width: 100%;
display: flex;
justify-content: center;
flex-direction: column;
align-items: center;



}



@media (max-width: 768px) {
    ._newsLetter_inner {
        width: 100%;
    }
  
}